@import "./scss/helpers/reset.scss";
@import "./scss/helpers/normalize.scss";

$mobile-width: 768px;
$purple: #3f51b5;
$border-color: #ccc;
$grey: #a3a3a3;
$red: #ff5900;

@mixin bp-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  box-shadow: 0 4px 2px -2px #bbbbbb;
  &__wrap {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    cursor: pointer;
    margin-right: 8px;
    i {
      font-size: 2em;
      transition: 0.3s;
      &:hover {
        color: $purple;
      }
    }
  }
}

.controls {
  display: flex;
  &__item {
    border: none;
    background-color: transparent;
    font-size: 0.8em;
    padding: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $purple;
    }
  }
  @include bp-mobile {
    display: none;
  }
}

.search-panel {
  display: flex;
  min-width: 50%;
  &__input {
    font-size: 0.8em;
    width: 100%;
    border: 1px solid $border-color;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: transparent;
    padding: 8px;
    &:focus {
      outline: none;
      border: 1px solid $purple;
      border-right: none;
    }
  }
  &__cta {
    i {
      margin-top: 4px;
      font-size: 1em;
    }
    cursor: pointer;
    padding: 4px 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid $border-color;
    background-color: transparent;
    transition: 0.3s;
    &:hover {
      i {
        color: #fff;
      }
      background-color: $purple;
      border: 1px solid $purple;
    }
  }
}
.feedback {
  padding: 40px 16px;
  &__title {
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
    line-height: 1.2em;
  }
  &__description {
    font-size: 0.9em;
    line-height: 1.4em;
    text-align: center;
  }
  &__list {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    @include bp-mobile {
      flex-wrap: wrap;
    }
  }
}

.package {
  cursor: pointer;
  width: calc(25% - 16px);
  padding-bottom: 24px;
  &:hover {
  }
  @include bp-mobile {
    width: 100%;
    margin: 8px 0;
  }
  &__name {
    margin: 4px 0;
    font-size: 0.8em;
    font-weight: 600;
  }
  &__image {
    display: block;
    width: 100%;
    border-radius: 4px;
  }
  &__rating {
    padding: 8px 0;
    i {
      color: #65a53e;
      font-size: 1em;
    }
  }
}

.author {
  display: flex;
  padding: 24px 0 0;
  &__img {
    display: block;
    height: 64px;
  }
  &__text {
    margin-left: 16px;
    min-height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 1.2em;
  }
  &__origin {
    font-size: 0.8em;
  }
}
.just-booked {
  &__title {
    font-size: 1.5em;
    text-align: center;
  }
  &__wrap {
    display: flex;
  }
}

.current-package {
  padding-top: 40px;
  padding-bottom: 40px;
  &__image {
    display: block;
    width: 100%;
    margin: 16px auto;
  }
}

.package-name {
  &__title {
    font-weight: 600;
    font-size: 1.5em;
    color: $purple;
  }
  &__rating {
    margin-left: 24px;
    color: #fcba03;
    @include bp-mobile {
      display: block;
      margin: 8px 0;
    }
  }
  &__location {
    font-weight: 600;
    margin: 4px 0;
  }
}

.package-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include bp-mobile {
    flex-direction: column;
  }
  &__wrap {
    width: calc(70% - 16px);
    @include bp-mobile {
      width: calc(100% - 16px);
    }
  }
  &__description {
    padding: 8px 8px 32px 0;
    border-bottom: 1px solid #fbfbfb;
  }
  &__comments {
    display: flex;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid #fbfbfb;
    @include bp-mobile {
      flex-direction: column;
    }
  }
  &__comment {
    font-size: 2.5em;
    font-weight: 900;
    @include bp-mobile {
      font-size: 1.5em;
      font-weight: 700;
      text-align: center;
    }
  }
}

.package-checkout {
  width: calc(30% - 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  @include bp-mobile {
    width: calc(100% - 16px);
  }
  &__title {
    margin-bottom: 8px;
    font-size: 0.8em;
  }
  &__cta {
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    background-color: $red;
  }
}
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: $purple;
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
}

.search-results {
  &__title {
    margin: 16px 0 0;
    font-size: 0.8em;
  }
}

.search-result {
  cursor: pointer;
  padding: 4px;
  display: flex;
  margin: 16px 0;
  &__image {
    border-radius: 4px;
    display: block;
    width: 40%;
    @include bp-mobile {
      width: 100%;
      margin-bottom: 8px;
    }
  }
  @include bp-mobile {
    flex-direction: column;
  }
}

.search-result-content {
  width: 60%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  @include bp-mobile {
    width: 100%;
    padding: 0;
  }
  &__title {
    font-size: 1em;
    font-weight: 500;
    margin: 16px 0;
  }
  &__description {
    color: $grey;
    font-size: 0.9em;
    width: 80%;
    line-height: 1.4em;
  }
}

.search-result-additional {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__type {
    font-size: 0.8em;
    color: $grey;
  }
  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 700;
    i {
      font-size: 1em;
      color: $red;
    }
  }
}
.search-result-price {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__badge {
    font-weight: 900;
    font-size: 0.7em;
    padding: 8px 16px;
    background-color: $border-color;
    border-radius: 16px;
  }
  &__price {
    font-size: 0.9em;
  }
}
